@charset "utf-8";

// Set your brand colors
$orange: #E87400;
$white: #FFFFFF;
$black: #000000;

// Update some of Bulma's component variables
$body-background-color: $white;
$footer-background-color: $orange;
$text: $black;

@import "~bulma/bulma.sass";